src/main/resources/OSP.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="dataroot">
  <xsd:complexType>
   <xsd:choice>
    <xsd:element name="REGIONE" minOccurs="0" maxOccurs="1">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="PERIODO" minOccurs="1" maxOccurs="1">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="OPERAZIONE" minOccurs="1" maxOccurs="unbounded">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="AS" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="STRUTTURA" minOccurs="1" maxOccurs="unbounded">
                 <xsd:complexType>
                  <xsd:sequence>
                   <xsd:element name="UNIT_OP" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                     <xsd:sequence>
                      <xsd:element name="MEDICINALE" minOccurs="1" maxOccurs="unbounded">
                       <xsd:complexType>
                        <xsd:sequence>
                         <xsd:element name="TARGATURE" minOccurs="1" maxOccurs="1">
                          <xsd:complexType>
                           <xsd:sequence>
                            <xsd:element name="COD" minOccurs="1" maxOccurs="unbounded">
                             <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                               <xsd:pattern value="[0]{1}|[0-9]{9}[0-9AX]{0,1}"/>
                              </xsd:restriction>
                             </xsd:simpleType>
                            </xsd:element>
                           </xsd:sequence>
                          </xsd:complexType>
                         </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="cod_reg_att" use="required">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                           <xsd:enumeration value="0"/>
                           <xsd:enumeration value="1"/>
                           <xsd:enumeration value="2"/>
                           <xsd:enumeration value="3"/>
                           <xsd:enumeration value="4"/>
                           <xsd:enumeration value="5"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="tip_med" use="required">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                           <xsd:enumeration value="1"/>
                           <xsd:enumeration value="2"/>
                           <xsd:enumeration value="3"/>
                           <xsd:enumeration value="4"/>
                           <xsd:enumeration value="5"/>
                           <xsd:enumeration value="6"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="cod_med" use="optional">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                           <xsd:pattern value="[0-9a-zA-Z]{1,9}"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="costo_acq" use="required">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                           <xsd:pattern value="-{0,1}[0-9]{1,8}\.{1}[0-9]{2,5}"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="qta" use="required">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                           <xsd:pattern value="-{0,1}[0-9]{1,12}\.{0,1}[0-9]{0,2}"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="fatt_conv" use="required">
                         <xsd:simpleType>
                          <xsd:restriction base="xsd:integer">
                           <xsd:minInclusive value="1"/>
                           <xsd:maxInclusive value="999999"/>
                          </xsd:restriction>
                         </xsd:simpleType>
                        </xsd:attribute>
                       </xsd:complexType>
                      </xsd:element>
                     </xsd:sequence>
                     <xsd:attribute name="cod_un_op" use="optional">
                      <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[0-9]{4}"/>
                       </xsd:restriction>
                      </xsd:simpleType>
                     </xsd:attribute>
                    </xsd:complexType>
                   </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="tipo_str" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:pattern value="[0-9]{2}"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="cod_str" use="required">
                   <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                     <xsd:pattern value="[0-9a-zA-Z\-]{1,8}"/>
                    </xsd:restriction>
                   </xsd:simpleType>
                  </xsd:attribute>
                 </xsd:complexType>
                </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="cod_as" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:pattern value="[0-9]{6}"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="tipo_op" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="I"/>
               <xsd:enumeration value="V"/>
               <xsd:enumeration value="C"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="mese" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="01"/>
            <xsd:enumeration value="02"/>
            <xsd:enumeration value="03"/>
            <xsd:enumeration value="04"/>
            <xsd:enumeration value="05"/>
            <xsd:enumeration value="06"/>
            <xsd:enumeration value="07"/>
            <xsd:enumeration value="08"/>
            <xsd:enumeration value="09"/>
            <xsd:enumeration value="10"/>
            <xsd:enumeration value="11"/>
            <xsd:enumeration value="12"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
         <xsd:attribute name="anno" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:pattern value="[2][0][0-9]{2}"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="cod_reg" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="CANCELLAZIONE_MASSIVA_DATI" minOccurs="1" maxOccurs="1">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="REGIONE">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="PERIODO">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="AS" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
               <xsd:attribute name="cod_as" use="required">
                <xsd:simpleType>
                 <xsd:restriction base="xsd:string">
                  <xsd:pattern value="[0-9]{6}"/>
                 </xsd:restriction>
                </xsd:simpleType>
               </xsd:attribute>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="mese" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="01"/>
               <xsd:enumeration value="02"/>
               <xsd:enumeration value="03"/>
               <xsd:enumeration value="04"/>
               <xsd:enumeration value="05"/>
               <xsd:enumeration value="06"/>
               <xsd:enumeration value="07"/>
               <xsd:enumeration value="08"/>
               <xsd:enumeration value="09"/>
               <xsd:enumeration value="10"/>
               <xsd:enumeration value="11"/>
               <xsd:enumeration value="12"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="anno" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:pattern value="[2][0][0-9]{2}"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="cod_reg" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
